{% extends 'base.html.twig' %}

{% block title %}Job Index{% endblock %}

{% block body %}
<div class="bg-[#2424249f] m-0 h100 p125">

    <div class="text-center justify-center content-center mb-5">
        <h1 class="text-2xl font-bold mb-4 mt-5 text-white justify-center m-5">Liste des metiers</h1>
        <p class="text-xl font-bold mb-4 mt-5 text-white justify-center m-5">
            Bienvenue sur la page des emplois. Vous y trouverez la liste des emplois disponibles. N'hésitez pas à la
            parcourir et à trouver celle qui vous convient le mieux. Pour plus de détails, cliquez sur le lien
            "afficher" à côté de l'emploi. 
        </p>
        <div class="flex">
            <p class=" font-medium  text-[#fee501] ">Disponible</p>
        
        </div>
        <div class="flex">
            <p class=" text-white font-medium">Indisponible</p>
        
        </div>

    </div>

    <div class="flex justify-center  ">
        <table class="min-w-full divide-y divide-gray-200 bg-[#242424] text-white mb-6">
            <thead class="bg-gray-50 text-black">
                <tr>
        
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-black uppercase tracking-wider">
                        Nom
                        </th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-black uppercase tracking-wider">
                        Description
                    </th>
                   
                   
    
                </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200 text-black col-auto">
                {% for job in jobs %}
                {% if job.available == 0 %}
                {% if job.disponible == 0 %}
                    <tr  class="bg-white">
                        <td class="px-6 py-4 whitespace-nowrap font-medium">{{ job.name }}</td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                            <a href="{{ path('app_job_show', {'id': job.id}) }}" class="text-black hover:text-black">Afficher</a>
                        </td>
                        
                    </tr>

                {% else %}
                <tr  class="bg-[#fee501]">
                    <td class="px-6 py-4 whitespace-nowrap font-medium">{{ job.name }}</td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                        <a href="{{ path('app_job_show', {'id': job.id}) }}" class="text-black hover:text-black">Afficher</a>
                    </td>
                </tr>
                {% endif %}
                {% else %}
                {% if job.disponible == 0 %}
                    <tr  class="bg-white">
                        <td class="px-6 py-4 whitespace-nowrap font-medium">{{ job.name }}</td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                            <a href="{{ path('app_job_show', {'id': job.id}) }}" class="text-black hover:text-black">Afficher</a>
                        </td>
                        
                    </tr>

                {% else %}
                <tr  class="bg-[#fee501]">
                    <td class="px-6 py-4 whitespace-nowrap font-medium">{{ job.name }}</td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                        <a href="{{ path('app_job_show', {'id': job.id}) }}" class="text-black hover:text-black">Afficher</a>
                    </td>
                   
                </tr>
                {% endif %}
                {% endif %}
            {% else %}
                <tr>
                    <td colspan="5" class="px-6 py-4 whitespace-nowrap text-center text-black">Aucun métier trouvé</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


</div>
{% endblock %}